{% extends "../base.html" %}

{% block content %}
<div class="pass-reset-cont container mt-5 flex-column centered-text">
  <h2 class="mb-5">Password Reset</h2>
  {% if email_sent %}
    <p>An email with password reset instructions has been sent to your email address.</p>
  {% else %}
    <form class="pass-reset-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary reset-btn">Reset Password</button>
    </form>
  </div>
  {% endif %}
{% endblock %}
