/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFFFF0;
}

.btn {
  font-size: 1.5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}


/* MODAL STYLES */

#signup-success-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #signup-success-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }
  
  #signup-success-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #signup-success-modal .close:hover,
  #signup-success-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* BASE */

  li.nav-item {
    font-size: 1.5rem;
  }

  .back-btn {
    background-color: inherit;
  }

  .navbar-brand {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  footer p {
    font-size: 1.5rem;
    text-align: center;
  }

  /* LOGIN */

  .login-text {
    font-size: 1.5rem;
  }

  /* .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* Login Modal */
/* #login-success-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #login-success-modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }
  
  #login-success-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #login-success-modal .close:hover,
  #login-success-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */
  /* .hero-title {
    color: white !important;
  }

  .hero-img {
    background-image: url(https://res.cloudinary.com/dmtxhbwvw/image/upload/v1687943809/static/Images/jacopo-maia--gOUx23DNks-unsplash.4b3752b62710.jpg);
    width: 100%;
    
  } */

/* HOME */

 .hero-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 50rem;
  opacity: .8;
  transition: transform 2s ease;
  /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1.5)), to(rgba(0,0,0,.6))); */
}

.hero-image.zoomed {
  transform: scale(1.2);
}

.hero-image-cont {
  overflow: hidden;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 6rem;
  font-weight: bold;
  opacity: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-light {
  border: none;
}

.hero-btn {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #FFFFF0;
}

.btn-light:hover {
  background-color: black;
  color: #FFFFF0;
  
}

.a.btn.btn-dark {
  border: none;
}

a.btn.btn-dark:hover {
  background-color: #FFFFF0;
  color: #000;
  border: none;
}

.home-text {
  opacity: 1;
}

.home-cont-text h3{
  font-size: 4.5rem;
}

.home-cont-text h4 {
  font-size: 3rem;
}

.home-cont-text p, .text-body {
  font-size: 2rem !important;
}

.recipe-home-cont h3 {
  text-align: center;
}

.card-body {
  background-color: #FFFFF0;
}

@media (max-width: 780px) {
  .hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 445px) {
  .hero-container h1 {
    font-size: 3.5rem;
  }

  .hero-btn {
    font-size: 1.2rem;
  }
}
  
  /* .hero-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
  }
  
  .hero-btn:hover {
    background-color: white;
    color: black;
  } */
  
  





 .btn-transparent {
    color: white;
    font-weight: 600;
 }

 .btn-transparent:hover {
  background-color: #fff;
 }

 .card-img {
  height: 400px;
  object-fit: cover;
 }


 .recipe-image {
  max-height: 40rem;
  object-fit: cover;
 }

 /*RESULTS*/

 .results-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .results-cont h2 {
  text-align: center;
 }

 .results-cont ul {
  padding-left: 0;
 }

 .rec-card {
  border: none;
 }

 /* CREATE RECIPE */

 .rec-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  }

  .rec-create h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  @media (max-width: 368px) {
    .rec-create input[type="text"],
    .rec-create input[type="email"],
    .rec-create input[type="number"],
    .rec-create textarea {
      width: 100%;
    }
  }

  /* PROFILE */

  .prof-buttons {
    display: flex;
    gap: 1.2rem;
  }

  .prof-button {
    width: auto;
    padding: 0.7rem;
    min-width: 12rem;
  }

  @media (max-width: 720px) {
    .prof-buttons {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  /* UPDATE*/

  .update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  @media (max-width: 382px) {
  .update-form input[type="text"],
  .update-form input[type="email"],
  .update-form textarea {
    width: 100%;
    box-sizing: border-box;
  }
}


/*PASSWORD RESET*/

/* .pass-reset-cont h2{
  font-size: 2rem;
} */

/* ABOUT */

 .about-cont {
  background-image: url("https://res.cloudinary.com/dmtxhbwvw/image/upload/v1689628282/static/Images/lukas-blazek-f-TWhXOrLiU-unsplash%281%29.376b4b52df13.jpg");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text h2, p{
  color: #000;
  padding: 2rem;
}

.about-text p {
  font-weight: 500;
  width: 50%;
}

@media (max-width: 768px) {
  .about-cont {
    max-width: 100%;
  }

  .about-text p{
    width: 100%;
  }

  .about-text h2 {
    width: 70%;
    text-align: center;
  }
}

/* img.logo-img {
  max-width: 2rem;
  margin-right: .5rem;

  
  <div class="text-center d-flex d-xl-flex flex-column justify-content-center align-items-center align-items-xl-center hero-img" data-bss-scroll-zoom="true" data-bss-scroll-zoom-speed="1" style="background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url(https://res.cloudinary.com/dmtxhbwvw/image/upload/v1687943809/static/Images/jacopo-maia--gOUx23DNks-unsplash.4b3752b62710.jpg); background-position: center; background-size: cover;"> */