{% extends "base.html" %}
{% load static %}  
{% block content %}

<div class="container d-flex justify-content-center align-items-center centered-container error-cont">
    <div class="d-flex flex-column align-items-center">
<h2 class="text-center">500 Internal Server Error</h2>

<p class="display-4 text-center">Oops! Something went wrong with the server. We apologize for the inconvenience.</p>
<p class="display-4 text-center">Please try again later or contact the site administrator for assistance.</p>

</div>
</div>
{% endblock %}