{% extends "base.html" %}
{% load static %}  
{% block content %}

<section>
<div class="container text-center hero-container">
  <div class="hero-image-cont">
    <img src="https://res.cloudinary.com/dmtxhbwvw/image/upload/v1689691374/jacopo-maia--gOUx23DNks-unsplash-resized_hzhgqr.jpg" id="zoom-image" class="hero-image" alt="image of a market stall with many different colourful vegetables and fruits">
  </div>
    <div class="py-4 px-3 hero-content">
        <h1 class="display-1 fw-bold hero-title">Make Healthy<br>Choices</h1>
        {% if not user.is_authenticated %}
        <a class="btn btn-light hero-btn" href="{% url 'signup' %}">Register now to join</a>
        {% endif %}
    </div>
</div>
      </section>   
      <div class="d-flex justify-content-center align-items-center mt-4">
        {% if not user.is_authenticated %}
            <a class="btn btn-dark" href="{% url 'signup' %}">Register now to join</a>
        {% endif %}
    </div>
    
  </div>
</div>
</div>



<section class="py-5 home-text">
<div class="container home-cont-text">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="display-5 fw-bold text-muted">Welcome to Recipe Collection!</h3>
      <h4 class="display-6 fw-bold text-muted">Explore and share your favorite recipes.</h4>
      <p class="fs-5 home-ps text-body">The new website for you to upload and share recipes with everyone.<br>Register for an account now</p>
      {% if user.is_authenticated %}
        <p class="home-ps text-body">Welcome, {{ user.username }}!</p>
        <a href="{% url 'recipe-create' %}" class="btn btn-primary btn-auth-user">Create a New Recipe</a>
      {% else %}
        <p class="home-ps text-body">Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">Signup</a> to get started.</p>
      {% endif %}
    </div>
  </div>
</div>
</section>

<section class="py-5">
  <div class="container recipe-home-cont">
    <h3 class="mb-4">Latest Recipes</h3>
    <div class="row">
      {% for recipe in recipes %}
        <div class="col-sm-6 col-md-4 mb-4">
          <a href="{% url 'recipe-detail' recipe.id %}" class="card rec-card">
            {% if recipe.image %}
              <img src="{{ recipe.image.url }}" alt="Recipe Image" class="card-img-top card-img">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ recipe.headline }}</h5>
            </div>
          </a>
        </div>
      {% empty %}
        <div class="col">
          <p>No recipes found.</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="mb-4">Search Recipes</h3>
    <form action="{% url 'recipe-search' %}" method="GET">
      <div class="input-group mb-3">
        <input type="text" name="q" class="form-control" placeholder="Search by keyword">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
