{% extends "base.html" %}

{% block content %}
<div class="profile-cont container mt-5 flex-column centered-text">
  <h2 class="mb-5">User Profile</h2>
  {% if profile.profile_image %}
  <div class="profile-image">
    <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }} Profile Image" class="prof-img">
  </div>
  {% endif %}
  <div class="profile-info">
    <h3 class="mb-5">User name: <span>{{ profile.user.username }}</span></h3>
    <p>Email: <a class="prof-email" href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>

    {% if profile.bio %}
    <p class="bio-text">Bio: <span> {{ profile.bio }}</span></p>
    {% else %}
    <p>Bio: <span> User hasn't updated their bio yet!</span></p>
    {% endif %}
  </div>

  {% if updated %}
    <div class="alert alert-success" role="alert">
      Profile updated successfully!
    </div>
  {% endif %}

  {% if user.is_authenticated and user == profile.user %}
    <div class="prof-buttons">
    <a href="{% url 'profile-update' pk=profile.user.pk %}" class="btn btn-primary prof-button" aria-label="Update Profile for {{ profile.user.username }}">Update Profile</a>
    <a href="{% url 'password_change' %}" class="btn btn-primary prof-button">Change Password</a>
    <a href="{% url 'password_reset' %}" class="btn btn-primary prof-button">Reset Password</a>
  </div>
  {% endif %}
</div>
<div class="created-rec profile-cont container mt-5 flex-column centered-text">
  <h2>Created Recipes</h2>
  <ul>
    {% for recipe in profile.user.recipes.all %}
      <li><a href="{% url 'recipe-detail' pk=recipe.pk %}" aria-label="View Recipe: {{ recipe.headline }}">{{ recipe.headline }}</a></li>
    {% empty %}
      <li>No recipes found.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
