{% extends "base.html" %}

{% block content %}
<div class="profile-update-cont profile-cont container mt-5 flex-column centered-text">
  <h2 class="mb-5">Update Profile</h2>
  <p>Take control of your profile and keep it up to date. Fill in the fields below to modify your
     information and ensure that your profile reflects the real you.</p>
  <form method="post" enctype="multipart/form-data" class="update-form">
    {% csrf_token %}
    {{ form.as_p }}
    
    <img id="image-preview" src="{% if profile.profile_image %}{{ profile.profile_image.url }}{% endif %}" alt="Profile Image Preview" style="max-width: 200px; max-height: 200px;">
    <button type="submit" class="btn btn-primary update-prof-btn" aria-label="Update Profile Information">Update</button>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const fileInput = document.getElementById('id_profile_image');
    const imagePreview = document.getElementById('image-preview');

    fileInput.addEventListener('change', function () {
      const file = fileInput.files[0];

      if (file) {
        const reader = new FileReader();

        reader.addEventListener('load', function () {
          imagePreview.src = reader.result;
        });

        reader.readAsDataURL(file);
      } else {
        imagePreview.src = '';
      }
    });
  });
</script>
{% endblock %}
